body {
    margin: 0;
    color:#5F6368;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a:link {
    color:#5F6368;
    text-decoration: none;
}
a:visited {
    color:#5F6368;
}
a:hover {
    color:#222222;
}
a:active {
    color:#222222;
}

header {
    font-size: 13px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 23px;
}

nav a {
    color: #222222;
}
nav a:link {
    color:#222222;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}
nav a:active {
    text-decoration: underline;
}
nav a:visited {
    color: #222222;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding-right: 18px;
    vertical-align: middle;
}

#circleK a:link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#circleK a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#circleK a:visited {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#circleK a:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#circleK {
    border-style: none;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 11px;
    padding-top: 8px;
    padding-bottom: 7px;
    background-color: #004d40;
    font-size: 16px;
    margin-left: 0;
}
#appsIcon {
    height: 25px;
    margin-bottom: -4px;
    padding-right: 0;
}
.navContainer1 {
    margin-left: 5px;
    font-size: 14px;
}
.navContainer2 {
    margin-right: -5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
footer ul {
    list-style-type: none;
    margin: 0 45px 6px 15px;
    padding: 0;
    align-items: center;
    font-size: 14px;
}
footer li {
    display: inline-block;
    padding: 0 12px;
}
footer a {
    color: #222222;
}
footer a:link {
    color:#5F6368;
    text-decoration: none;
}
footer a:hover {
    color: #5F6368;
    text-decoration: underline;
}
footer a:active {
    color: #5F6368;
    text-decoration: underline;
}
footer a:visited {
    color: #5F6368;
    text-decoration: none;
}


.mainContainer {
    height: 90%;
    width: 80%;
    padding: 0;
    margin: 10% 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#searchBox {
    width: 28vw;
    border-radius: 2em;
    padding: 10px 12px 10px 50px;
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe1e5;
    font-size: 16px;
}

#searchBox:focus {
    outline: none;
    border-width: 2px;
    border-top-width: 0;
    padding-top: 11px;
    padding-left: 48px;
    margin-bottom: -1px;
}

#searchBox:hover {
    outline: none;
    border-width: 2px;
    border-top-width: 0;
    padding-top: 11px;
    padding-left: 48px;
    margin-bottom: -1px;
}

#logoImage {
    width: 270px;
}

#searchIcon {
    width: 18px;
    position: relative;
    left: 40px;
    top: 5px;
}

#text {
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
#text a {
    border-style: none;
    text-decoration: none;
}

.searchText {
    padding: 10px 16px 8px 16px;
    margin-top: 35px;
}
.searchText:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #c6c6c6;
    border-radius: 0.25em;
    padding-top: 9px;
}
#googleSearchText:hover {
    padding-left: 15px;
}
#luckySearchText:hover {
    padding-right: 15px;
}

@media screen and (max-width: 1500px) {
    #searchBox {
        width: 40vw;
    }
}

@media screen and (max-width: 1300px) {
    #text {
        width: 35vw;
    }
}

@media screen and (max-width: 800px) {
    #searchBox {
        width: 60vw;
    }
    #text {
        width: 58vw;
    }
}